.todo-wrapper {
    width: 50vw;
    min-height: 600px;
    background-color: #0d1117;
    margin: 5% auto 0;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px),
(max-height: 750px) {
    .todo-wrapper {
        width: 90vw;
        min-height: 90vh;
        margin: 20px auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}